body {

    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

h3	{

	text-transform: uppercase;
}

.big-img {

	width: 100%;
}

.header-logo {

	margin: 20px;
	border-radius: 50%;
	border-color: #F8981C;
}

.title-super {

	font-size: 40px;
}

.text-muted {

	color: #BCBBBB;
}

.thin-font {

	font-weight: 100;
}

hr {
	
	background-color: #BCBBBB;
	width: 97%;
	height: 3px;
}